<%- include('partials/header') %>
<main>
	<section>
		<h2><%= page_user.username %></h2>
		<div>
			<img id="profilePicture" src=<%= page_user.profile_picture_url %> alt="Profile Picture for <%= page_user.username %>" style="max-width: 300px;" />
		</div>
		<% if (user && (page_user.id === user.id || isAdmin)) { %>
		<button onclick="this.style.display = profilePicture.style.display = 'none'; profilePictureForm.style.display = 'block'">Change Profile Picture</button>
		<form id="profilePictureForm" action="/profile/<%= page_user.id %>/profile_picture" method="post" enctype="multipart/form-data" style="display: none">
			<p>
				<label for="profile_picture_upload">Upload a new profile picture</label>
				<input type="file" accept="image/png,image/jpeg" name="profile_picture_upload" id="profile_picture_upload" />
			</p>
			Or
			<p>
				<label for="profile_picture_url">Enter a URL for a new profile picture</label>
				<input type="url" name="profile_picture_url" id="profile_picture_url" />
			</p>
			<p>
				<input type="submit" value="Update Profile Picture" />
			</p>
		</form>
		<% } %>
	</section>
	<section>
		<h3>Description</h3>
		<md-text id="description"><%= page_user.description %></md-text>
		<% if (user && (page_user.id === user.id || isAdmin)) { %>
		<button onclick="this.style.display = description.style.display = 'none'; descriptionForm.style.display = 'block'">Edit</button>
		<form id="descriptionForm" action="/profile/<%= page_user.id %>/description" method="post" style="display: none">
			<textarea name="description"><%= page_user.description %></textarea>
			<input type="submit" value="Update Description" />
		</form>
		<% } %>
	</section>
	<% if (user && page_user.id === user.id) { %>
	<section>
		<h3>Password</h3>
		<form action="/profile/<%= page_user.id %>/password" method="post" id="password-form">
			<p>
				<label for="old_password">Old Password</label>
				<input type="password" name="old_password" id="old_password" />
			</p>
			<p>
				<label for="new_password">New Password</label>
				<input type="password" name="new_password" id="new_password" />
			</p>
			<p>
				<label for="confirm_password">Confirm Password</label>
				<input type="password" name="confirm_password" id="confirm_password" />
			</p>
			<p>
				<input type="submit" value="Change Password" />
			</p>
		</form>
	</section>
	<% } %>
	<script>
		document.getElementById('password-form')?.addEventListener?.('submit', async (event) => {
		  event.preventDefault();
	  
		  const oldPasswordInput = document.getElementById('old_password');
		  const newPasswordInput = document.getElementById('new_password');
		  const confirmPasswordInput = document.getElementById('confirm_password');
	  
		  const oldPassword = oldPasswordInput.value;
		  const newPassword = newPasswordInput.value;
		  const confirmPassword = confirmPasswordInput.value;
	  
		  // Check old password using API call with POST method
		  const username = "<%- page_user.username %>"; // Assuming you have a way to get the username
		  const apiUrlCheckPassword = '/checkpw';
		  const apiUrlUpdatePassword = `/profile/<%= page_user.id %>/password`;
	  
		  try {
			// Check old password
			const responseCheckPassword = await fetch(apiUrlCheckPassword, {
			  method: 'POST',
			  headers: {
				'Content-Type': 'application/json',
			  },
			  body: JSON.stringify({ username, password: oldPassword }),
			});
	  
			const resultCheckPassword = await responseCheckPassword.json();
	  
			if (!resultCheckPassword.success) {
			  alert('Old password is incorrect');
			  return;
			}
	  
			// Continue with the password change logic if the old password is correct
	  
			// Check if new passwords match
			if (newPassword !== confirmPassword) {
			  alert('Passwords do not match');
			  return;
			}
	  
      // Update password with application/x-www-form-urlencoded
      const formData = new URLSearchParams();
      formData.append('old_password', username);
      formData.append('new_password', newPassword);
      formData.append('confirm_password', confirmPassword);

      const responseUpdatePassword = await fetch(apiUrlUpdatePassword, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: formData,
      });
	  console.log(responseUpdatePassword.status);
	  if (responseUpdatePassword.status === 200) {
		const redirectLocation = responseUpdatePassword.headers.get('Location');

		window.location.reload();

		}
      
	  
		  } catch (error) {
			console.error('Error updating password:', error);
			// Handle error as needed
		  }
		});
	  </script>
	  
</main>
<%- include('partials/footer') %>
